@page "/credentials"

<MudCarousel Class="mud-width-full" @ref="_carousel" ItemsSource="@_images" @bind-SelectedIndex="selectedIndex" Style="height:850px;" ShowArrows="@_showArrows" ShowBullets="@_showBullets" EnableSwipeGesture="@_enableSwipeGesture" AutoCycle="@_autoCycle">
    <ItemTemplate>
        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
            <MudImage Src="@context"></MudImage>
        </div>
    </ItemTemplate>
</MudCarousel>